@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500');

:root{
    --bg-nav-color:#23252B;
    --text1-nav-color:#fff;
    --text2-nav-color:#d0aa20;
    --dourado:#d0aa20;
    --bg-footer: #121212;
    --footer-color: #f5f5f5;
    --text-footer-color: #dddddd; 
    --copyrigth-color: #000000;

    --douradao-teste: #CBB26A;
}

/* Footer */

footer{
    width: 100%;
    color: var(--footer-color);
}

.footer-link{
    text-decoration: none;
}

#footer_content{
    background-color: var(--bg-footer);
    border-top: 4px solid var(--douradao-teste);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1{
    margin-bottom: 0.75rem;
}

#footer_contacts h1 img{
   margin-left: -20px;
}

#footer_social_midia{
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

#footer_social_midia .footer-link{
    height: 2.5rem;
    width: 2.5rem;
    color: var(--footer-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

#footer_social_midia .footer-link i{
    font-size: 1.5rem;
}

#footer_social_midia .footer-link:hover{
    opacity: 0.8;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background: #4767b3;
}

#whatsapp{
    background: #25d366;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link{
    color: var(--text-footer-color);
    transition: all 0.4s;
}

.footer-list .footer-link:hover{
    color: var(--text2-nav-color);
}

#footer_endereco p{
    color: var(--text-footer-color);
    transition: all 0.4s;
}

#footer_endereco p:hover{
    color: var(--text2-nav-color);
}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: var(--copyrigth-color);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

/* Footer fim */

@media screen and (max-width: 926px) {
    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    } 
}

@media screen and (max-width: 820px) {
    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 436px) {
    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}
    