<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
        <link rel="stylesheet" href="../css/css_pages/style_home.css">
        <link rel="stylesheet" href="../css/css_assets/style_navbar.css">
        <link rel="stylesheet" href="../css/css_assets/style_footer.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" charset="UTF-8"> </script>
        <title> LSilva negócios imobiliários </title>
    </head>
    <body> 
        <!--Topo do site-->

        <header>
                <div class="logo">
                    <a href="home.html"><img src="../img/completo.png" alt="Logo Lsilva"></a>
                </div>

                <div class="input-header">
                    <input type="text" class="search-txt" placeholder="Busque seu imóvel" maxlength="22">
                    <div class="search-btn" href="">
                        <i class="bi bi-search"></i>
                    </div>
                </div>

                <div class="navigation">
                    <ul class="menu">
                        <div class="close-btn"></div>
                            <li class="menu-item"><a href="/views/home.html">Início</a></li>
                            <li class="menu-item">
                                <a class="sub-btn" href="#">Imóveis <i class="fas fa-angle-down"></i></a>
                                <ul class="sub-menu">
                                    <li class="sub-item"><a href="/views/pagimoveis.html">Venda</a></li>
                                    <li class="sub-item"><a href="/views/pagimoveis.html">Locação</a></li>
                                    <li class="sub-item"><a href="/views/pagimoveis.html">Lançamentos</a></li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a class="sub-btn" href="#">Serviços <i class="fas fa-angle-down"></i></a>
                                <ul class="sub-menu">
                                    <li class="sub-item"><a href="/views/cadastreseuimovel.html">Cadastre seu imóvel</a></li>
                                    <li class="sub-item"><a href="/views/pagimoveis.html">Nós encontramos</a></li>
                                    <li class="sub-item"><a href="/views/simuladores.html">Simuladores</a></li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a class="sub-btn" href="#">Contato <i class="fas fa-angle-down"></i></a>
                                <ul class="sub-menu">
                                    <li class="sub-item"><a href="telacontato.html">Email</a></li>
                                    <li class="sub-item"><a href="https://api.whatsapp.com/send?phone=5511972998439&text=Ol%C3%A1%2C+gostaria+de+mais+informa%C3%A7%C3%B5es" target="_blank">Whatsapp</a></li>
                                    <li class="sub-item"><a href="#tel">Telefones</a></li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a class="sub-btn" href="login.html"><i class="fa-solid fa-user-large"></i></a>
                            </li>
                            
                        </div>
                    </ul>
                </div>
                <div class="menu-btn"></div>
        </header>


        <main>

            <div class="teste-filtro">
                <div class="filtro">
                    <h1>Encontre o imóvel dos seus sonhos</h1>
                    <form class="form-filtro">
                        <div class="btn-alugar-comprar">
                                <button>Comprar</button>
                                <button>Alugar</button>
                        </div>
                        <div class="input-cidade">
                            <i class="bi bi-geo-fill" style="color: #f5f5f5;"></i>
                            <div class="caixa-localizacao">
                                <label class="label-cidade">
                                    <div class="div-label-cidade">
                                        <p>Cidade</p>
                                    </div>
                                     <div class="input-box">
                                        <select name="cidade" id="cidade">
                                            <option>Selecione</option>
                                        </select>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="input-bairro">
                            <i class="bi bi-house-door-fill" style="color: #f5f5f5;"></i>
                            <div class="caixa-localizacao">
                                <label class="label-bairro">
                                    <div class="div-label-bairro">
                                        <p>Bairro</p>
                                    </div>
                                    <input class="inp-bairro" type="search" placeholder="Busque por bairro">
                                </label>
                            </div>
                        </div>

                        <div class="select">
                            <label class="label-select-valor" style="color: #f5f5f5;">
                                <p>Imóvel até <i class="bi bi-chevron-down" style="color: #f5f5f5;"></i></p>
                                <div class="dropdown">
                                    <div class="dropdown-select">
                                        <span class="select-span">Escolha o valor</span>
                                    </div>
                                    <div class="dropdown-list">
                                        <div class="dropdown-list-item">R$ 200.000</div>
                                        <div class="dropdown-list-item">R$ 400.000</div>
                                        <div class="dropdown-list-item">R$ 600.000</div>
                                        <div class="dropdown-list-item">R$ 800.000</div>
                                        <div class="dropdown-list-item">R$ 1.000.000</div>
                                    </div>
                                </div>
                            </label>
                        </div>

                        <div class="select">
                            <!--<i class="bi bi-cash" style="color: #f5f5f5;"></i>-->   
                            <label class="label-select-valor" style="color: #f5f5f5;">
                                <p>Quartos<i class="bi bi-chevron-down" style="color: #f5f5f5;"></i></p>
                                <div class="dropdown">
                                    <div class="dropdown-select">
                                        <span class="select-span">Escolha o Nº de quartos</span>
                                    </div>
                                    <div class="dropdown-list">
                                        <div class="dropdown-list-item">1</div>
                                        <div class="dropdown-list-item">2</div>
                                        <div class="dropdown-list-item">3</div>
                                        <div class="dropdown-list-item">4</div>
                                        <div class="dropdown-list-item">5+</div>
                                    </div>
                                </div>
                            </label>
                        </div>

                        <a href="" id="buscarimovel"><button class="buscar" value="Buscar imóvel" id="buscarimovel">Buscar imóvel</button></a>
                    </form>
                </div>
            </div>
            
            <section class="cadastro-imovel">
                <div class="cadastre-imovel">
                    <h1>Cadastre seu imóvel</h1>
                    <p>Venha trabalhar conosco, cadastre seu imóvel e faça parte do time LSilva. Garantimos que faremos de tudo para que seu imóvel seja alugado ou comprado.</p>
                    <a href="/views/cadastreseuimovel.html"><button>Cadastrar imóvel</button></a>
                </div>

                <div class="form-cad-imovel">
                    
                </div>
            </section>

            <section>
                    <div class="titulo-categorias">
                        <h1>Destaques</h1>
                        <p>Últimos imóveis adicionados e melhores oportunidades de negócio.</p>
                        

                        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                    <div class="cards-wrapper">
    
                                        <div class="card">
                                            <div class="image-wrapper" id="images1">
                                                <img src="" alt="...">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title" id="propertyTitle1"></h5>
                                                <p class="card-text" id="propertyDetails1"></p>
                                                <p class="card-text" id="propertyPrice1"></p>
                                                <a href="#" class="btn btn-primary">Ver imóvel</a>
                                            </div>
                                        </div>
    
                                        <div class="card">
                                            <div class="image-wrapper" id="images2">
                                                <img src="" alt="...">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title" id="propertyTitle2"></h5>
                                                <p class="card-text" id="propertyDetails2"></p>
                                                <p class="card-text" id="propertyPrice2"></p>
                                                <a href="#" class="btn btn-primary">Ver imóvel</a>
                                            </div>
                                        </div>
    
                                        <div class="card">
                                            <div class="image-wrapper" id="images3">
                                                <img src="" alt="...">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title" id="propertyTitle3"></h5>
                                                <p class="card-text" id="propertyDetails3"></p>
                                                <p class="card-text" id="propertyPrice3"></p>
                                                <a href="#" class="btn btn-primary">Ver imóvel</a>
                                            </div>
                                        </div>
    
    
                                    </div>
                              </div>
    
                              <div class="carousel-item">
                                    <div class="cards-wrapper">
    
                                        <div class="card">
                                            <div class="image-wrapper" id="images4">
                                                <img src="img/chacarateste.jpg" alt="...">
                                            </div>                                           
                                            <div class="card-body">
                                                <h5 class="card-title" id="propertyTitle4"></h5>
                                                <p class="card-text" id="propertyDetails4"></p>
                                                <p class="card-text" id="propertyPrice4"></p>
                                                <a href="#" class="btn btn-primary">Ver imóvel</a>
                                            </div>
                                        </div>
    
                                        <div class="card">
                                            <div class="image-wrapper" id="images5">
                                                <img src="../img/apartamentoteste.jpg" alt="...">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title" id="propertyTitle5"></h5>
                                                <p class="card-text" id="propertyDetails5"></p>
                                                <p class="card-text" id="propertyPrice5"></p>
                                                <a href="#" class="btn btn-primary">Ver imóvel</a>
                                            </div>
                                        </div>
    
                                        <div class="card">
                                            <div class="image-wrapper" id="images6">
                                                <img src="../img/testecasa.jpg" alt="...">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title" id="propertyTitle6"></h5>
                                                <p class="card-text" id="propertyDetails6"></p>
                                                <p class="card-text" id="propertyPrice6"></p>
                                                <a href="#" class="btn btn-primary">Ver imóvel</a>
                                            </div>
                                        </div>
    
                                    </div>
                              </div>
    
                              <div class="carousel-item">
                                    <div class="cards-wrapper">
                                        
                                        <div class="card">
                                            <div class="image-wrapper" id="images7">
                                                <img src="https://www.chavesnamao.com.br/imn/0358X0250/N/imoveis/336189/15070762/ba-entre-rios-centro-casa-a-venda-3-quartos-6499a6ee-1.jpg" alt="...">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title" id="propertyTitle7"></h5>
                                                <p class="card-text" id="propertyDetails7"></p>
                                                <p class="card-text" id="propertyPrice7"></p>
                                                <a href="#" class="btn btn-primary">Ver imóvel</a>
                                            </div>
                                        </div>
    
                                        <div class="card">
                                            <div class="image-wrapper" id="images8">
                                                <img src="https://imgs2.cdn-imobibrasil.com.br/imagens/imoveis/20230216143013517.jpg" alt="...">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title" id="propertyTitle8"></h5>
                                                <p class="card-text" id="propertyDetails8"></p>
                                                <p class="card-text" id="propertyPrice8"></p>
                                                <a href="#" class="btn btn-primary">Ver imóvel</a>
                                            </div>
                                        </div>
    
                                        <div class="card">
                                            <div class="image-wrapper" id="images9">
                                                <img src="https://b6d3c5t3.rocketcdn.me/wp-content/uploads/2019/11/Espetacular-casa-moderna-a-venda-Vilas-do-Atl%C3%A2ntico-26.jpg" alt="...">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title" id="propertyTitle9"></h5>
                                                <p class="card-text" id="propertyDetails9"></p>
                                                <p class="card-text" id="propertyPrice9"></p>
                                                <a href="#" class="btn btn-primary">Ver imóvel</a>
                                            </div>
                                        </div>
    
                                    </div>
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                      
                    </div>
            </section>

                
               

            <section class="catigoria">
                    <div class="titulo-categorias">
                        <h1>Imóveis</h1>
                        <p>Temos diversos imóveis disponíveis escolha uma categoria ou clique em ver todos.</p>
    
                        <section class="categorias">
                            <section class="card-categorias casas">
                                <h2>Casas</h2>
                                <p>Encontre a casa ideal para você</p>
                                <div class="button-categoria btn-1">
                                    <a href=""><button>Ver casas</button></a>
                                </div>
                            </section>
        
                            <section class="card-categorias apartamento">
                                <h2>Apartamentos</h2>
                                <p>Encontre o apartamento ideal para você</p>
                                <div class="button-categoria">
                                    <a href=""><button>Ver apartamentos</button></a>
                                </div>
                            </section>
        
                            <section class="card-categorias terreno">
                                <h2>Terrenos</h2>
                                <p>Encontre o terreno ideal para você</p>
                                <div class="button-categoria btn-1">
                                    <a href=""><button>Ver terrenos</button></a>
                                </div>
                            </section>

                            <section class="card-categorias rural">
                                <h2>Rural</h2>
                                <p>Encontre a propriedade rural ideal para você</p>
                                <div class="button-categoria">
                                    <a href=""><button>Ver todos</button></a>
                                </div>
                            </section>

                            <section class="card-categorias galpoes">
                                <h2>Galpões</h2>
                                <p>Encontre o galpão ideal para seu negócio</p>
                                <div class="button-categoria">
                                    <a href=""><button>Ver Galpões</button></a>
                                </div>
                            </section>

                            <section class="card-categorias comercial">
                                <h2>Comercial</h2>
                                <p>Encontre o imóvel ideal para seu comércio</p>
                                <div class="button-categoria">
                                    <a href=""><button>Ver todos</button></a>
                                </div>
                            </section>
                        </section>
                    </div>
            </section>
               

            <section class="section-two">
                    <section class="card-2 contato">
                        <div class="icon">
                            <img src="../img/envelope.png" alt="">
                        </div>
                        <h3>Fale conosco</h3>
                        <p>Entre em contato caso tenha qualquer dúvida.</p>
                        <a href="https://api.whatsapp.com/send?phone=5511972998439&text=Ol%C3%A1%2C+gostaria+de+mais+informa%C3%A7%C3%B5es"><button>Contato</button></a>
                    </section>

                    <section class="card-2 simulador">
                       <div class="icon">
                            <img src="../img/simuladores.png" alt="Simuladores">
                       </div>
                        <h3>Simuladores</h3>
                        <p>Faça uma simulação para adquirir seu imóvel.</p>
                        <a href="/views/simuladores.html"><button>Simular</button></a>
                    </section>

                    <section class="card-2 cad-imovel">
                        <div class="icon">
                            <img src="../img/casa.png" alt="Cadastre seu imóvel">
                        </div>
                        <h3>Cadastrar imóvel</h3>
                        <p>Cadastre seu imóvel e garanta bons negócios.</p>
                        <a href="/views/cadastreseuimovel.html"><button>Cadastrar</button></a>
                    </section>
            </section>
        </main>

        <footer>

            <div id="footer_content">
                <div id="footer_contacts">
                   <h1><img src="../img/completo.png" alt=""></h1>
                    <p>Redes Sociais:</p>

                    <div id="footer_social_midia">
                        <a href="https://www.instagram.com/lsilvaimb/" target="_blank" class="footer-link" id="instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a>

                        <a href="https://www.facebook.com/profile.php?id=100012613808718" target="_blank" class="footer-link" id="facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>

                        <a href="https://api.whatsapp.com/send?phone=5511972998439&text=Ol%C3%A1%2C+gostaria+de+mais+informa%C3%A7%C3%B5es" target="_blank" class="footer-link" id="whatsapp">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </div>
                </div>

                <ul class="footer-list">
                    <li>
                        <h3>Quem Somos</h3>
                    </li>
                    <li>
                        <a href="" class="footer-link">Sobre nós</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Política de Privacidade</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Termos de uso</a>
                    </li>
                </ul>
    
                <ul class="footer-list">
                    <li>
                        <h3>Contato</h3>
                    </li>
                    <li>
                        <a href="https://mail.google.com/mail/?view=cm&to=contato.lsilva@gmail.com" target="_blank" class="footer-link">contato@lsilva.com.br</a>
                    </li>
                    <li>
                        <a class="footer-link" name="tel" style="color: #dddddd;">(11) 4719-6462</a>
                    </li>
                    <li>
                        <a class="footer-link" name="tel" style="color: #dddddd;">(11) 4719-6469</a>
                    </li>
                    <li>
                        <a class="footer-link" name="tel" style="color: #dddddd;">(11) 97299-8439</a>
                    </li>
                </ul>
    
                <div id="footer_endereco">
                    <ul class="footer-list">
                        <li>
                            <h3>Endereço</h3>
                        </li>
                        <li>
                            <a class="footer-link" style="color: #dddddd;">Avenida Tiradentes, 441</a>
                        </li>
                        <li>
                            <a class="footer-link" style="color: #dddddd;">Centro - São-Roque - SP</a>
                        </li>
                        <li>
                            <a class="footer-link" style="color: #dddddd;">CEP - 18130-470</a>
                        </li>
                        <li>
                            <a class="footer-link" style="color: #dddddd;">CRECI - 25717-J</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="footer_copyright">
                LSilva
                &#169
                2023 - Todos os direitos reservados.
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="../javascript/inicio.js"></script>

        <script>

async function carregarCidades() {
    try {
        const response = await fetch('http://localhost:5502/city/');
        const data = await response.json();

        if (response.ok) {
            const cidades = data.city;
            const selectElement = document.getElementById('cidade');
          
            selectElement.innerHTML = '';

            const defaultOption = document.createElement('option');
            defaultOption.value = '';
            defaultOption.text = 'Selecione';
            selectElement.appendChild(defaultOption);

            
            cidades.forEach((city) => {
                const option = document.createElement('option');
                option.text = city.name;
                option.value = city.id;
                selectElement.appendChild(option);
            });

            console.log('Cidades carregadas com sucesso!');
        } else {
            console.log('Erro ao obter cidades:', response.statusText);
        }
    } catch (error) {
        console.log('Erro na requisição:', error);
    }
}

async function carregarPropriedades() {
    try {
        const response = await fetch('http://localhost:5502/properties/');
        const data = await response.json();

        if (response.ok) {
            const properties = data.properties;

            const cityPromises = [];

            properties.forEach((property, index) => {

                cityPromises.push(
                    fetch(`http://localhost:5502/city/${property.idCity}`)
                        .then(cityResponse => cityResponse.json())
                        .then(cityData => {
                            const cityName = cityData;
                const titleElement = document.getElementById(`propertyTitle${index + 1}`);
                const detailsElement = document.getElementById(`propertyDetails${index + 1}`);
                const priceElement = document.getElementById(`propertyPrice${index + 1}`);
                const imageElement = document.getElementById(`images${index + 1}`);

              

                titleElement.textContent = `${property.title} - ${cityData.city.name} - ${property.neighborhood}`;
                detailsElement.textContent = `Quartos: ${property.nbedrooms} / Banheiros: ${property.nbathrooms} / Garagem: ${property.nvacancies} / Área: ${property.groundm2}m²`;
                priceElement.textContent = `${property.typeofsale}: R$ ${property.value}`;

                if (property.images && property.images.length > 0) {
                    const imagesArray = JSON.parse(property.images);
                    if (imagesArray.length > 0) {
                        const imageElement = document.querySelector(`#images${index + 1} img`);
                        imageElement.src = `/backend/public/images/PropertyImages/${imagesArray[0]}`;
                    }
                }
            })
        );
    });
            
        await Promise.all(cityPromises);
            console.log('Propriedades carregadas com sucesso!');
        } else {
            console.error('Erro ao obter propriedades:', response.statusText);
        }
    } catch (error) {
        console.error('Erro na requisição:', error);
    }
}

document.getElementById('buscarimovel').addEventListener('click', function(event) {
    event.preventDefault()

    const cityId = document.getElementById('cidade').value;
    window.location.href = `pagimoveis.html?cityId=${cityId}`;
});









carregarPropriedades();
carregarCidades();

        </script>

          
    <noscript>You neeed enable JavaScript to view the full site.</noscript>
        </body>
</html>