<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Swipper CSS-->
        <link rel="stylesheet" href="../css/swiper-bundle.min.css">

        <!-- Style CSS-->
        <link rel="stylesheet" href="../css/css_assets/style_navbar.css">
        <link rel="stylesheet" href="../css/css_assets/style_footer.css">
        <link rel="stylesheet" href="../css/css_pages/style_imovel.css">

        <!-- Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

        <!-- JQuery-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" charset="UTF-8"> </script>
        <title> LSilva negócios imobiliários </title>
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="index.html"><img src="../img/completo.png" alt="Logo Lsilva"></a>
            </div>

            <div class="navigation">
                <ul class="menu">
                    <div class="close-btn"></div>
                        <li class="menu-item"><a href="home.html">Início</a></li>
                        <li class="menu-item">
                            <a class="sub-btn">Imóveis <i class="fas fa-angle-down"></i></a>
                            <ul class="sub-menu">
                                <li class="sub-item"><a href="pagimoveis.html">Venda</a></li>
                                <li class="sub-item"><a href="pagimoveis.html">Locação</a></li>
                                <li class="sub-item"><a href="pagimoveis.html">Lançamentos</a></li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a class="sub-btn">Serviços <i class="fas fa-angle-down"></i></a>
                            <ul class="sub-menu">
                                <li class="sub-item"><a href="cadastreimovel.html">Cadastre seu imóvel</a></li>
                                <li class="sub-item"><a href="pagimoveis.html">Nós encontramos</a></li>
                                <li class="sub-item"><a href="simuladores.html">Simuladores</a></li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a class="sub-btn">Contato <i class="fas fa-angle-down"></i></a>
                            <ul class="sub-menu">
                                <li class="sub-item"><a href="telacontato.html">Email</a></li>
                                <li class="sub-item"><a href="https://api.whatsapp.com/send?phone=5511972998439&text=Ol%C3%A1%2C+gostaria+de+mais+informa%C3%A7%C3%B5es" target="_blank">Whatsapp</a></li>
                                <li class="sub-item"><a href="#tel">Telefones</a></li>
                            </ul>
                        </li>

                        <div class="input-box-header">
                            <input type="text-search" placeholder="Pesquisar...">
                            <span class="icon-search">
                                <i class="uil uil-search search-icon-header"></i>
                            </span>
                            <i class="uil uil-times close-icon-search"></i>
                        </div>
                        
                        <li class="menu-item">
                            <a class="sub-btn" href="login.html"><i class="fa-solid fa-user-large"></i></a>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="menu-btn"></div>
        </header>

        <main>
            <section>
                <div class="identidade">
                    <h1>REF: LS0056 - Casas</h1>
                    <p>Endereço (bairro) - Cidade - Estado</p>
                </div>
                <hr class="jogadinha-do-paqueta">
            </section>

            <section>
                <div class="swiper sw-imovel mySwiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide sw-slide"><img src="../img/casa1.jfif" class="img-swiper-slide" alt=""></div>
                      <div class="swiper-slide sw-slide"><img src="../img/images (2).jfif" class="img-swiper-slide" alt=""></div>
                      <div class="swiper-slide sw-slide"><img src="../img/images (3).jfif" class="img-swiper-slide" alt=""></div>
                      <div class="swiper-slide sw-slide"><img src="../img/casa1.jfif" class="img-swiper-slide" alt=""></div>
                      <div class="swiper-slide sw-slide"><img src="../img/casa1.jfif" class="img-swiper-slide" alt=""></div>
                      <div class="swiper-slide sw-slide"><img src="../img/casa1.jfif" class="img-swiper-slide" alt=""></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </section>

            <section>
                <div class="informacoes">
                    <div class="info">
                        <div class="separado">
                            <div class="info-header">
                                <p>Descrição</p>
                              </div>
                              <div class="info-body">
                                  <p class="info-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur quis autem voluptate. Aperiam quia sint veniam molestiae ad inventore, architecto cum aspernatur assumenda, rem repellat quisquam voluptatibus voluptate atque quas expedita similique veritatis facere velit nulla. Iste optio magnam omnis natus? Eos, nemo ipsa id suscipit earum tenetur, perspiciatis odio quasi quam corrupti illum ipsam? Expedita delectus itaque, dignissimos blanditiis autem enim quidem molestiae fuga quibusdam dolores odit illo? Voluptatem tempora earum sapiente cum, rem porro id aperiam ullam voluptatum, eius consequatur illum dolor culpa natus officiis!</p>
                              </div>
                        </div>
                        <div class="separado">
                            <div class="info-header-carac">
                                <p>Características do imóvel</p>
                              </div>
                              <div class="info-body">
                                <ul class="info-ul">
                                    <li>Características 1</li>
                                    <li>Características 2</li>
                                    <li>Características 3</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="valor-saba-mais">
                        <h1>Informações</h1>
                        <hr>
                        <div class="info-valor">
                            <p class="info-tipo">Valor:</p>
                            <p class="info-dineiro">R$ 0.000.000,00</p>
                        </div>
                        <div class="info-valor">
                            <p class="info-tipo">Aluguel:</p>
                            <p class="info-dineiro">R$ 00.000,00</p>
                        </div>
                        <div class="btn-contato-corretor">
                            <a href="">Contato</a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Veja Também -->
            <div class="destaques">
                <h1>Veja Também</h1>
                <p>Outros imóveis que você possa gostar!</p>

                <div class="slide-container swiper">
                    <div class="slide-content">
                        <div class="card-wrapper swiper-wrapper">
                            <div class="card swiper-slide">
                                        <div class="image-content">
                                            <span class="overlay"></span>
                                            <div class="card-image">
                                                <img src="../img/chacarateste.jpg" alt="" class="card-img">
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <h2 class="name">Card Title</h2>
                                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
                                            <button class="button">Veja mais</button>
                                        </div>
                            </div>
                            <div class="card swiper-slide">
                                        <div class="image-content">
                                            <span class="overlay"></span>
                                            <div class="card-image">
                                                <img src="../img/apartamentoteste.jpg" alt="" class="card-img">
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <h2 class="name">Card Title</h2>
                                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
                                            <button class="button">Veja mais</button>
                                        </div>
                            </div>
                            <div class="card swiper-slide">
                                        <div class="image-content">
                                            <span class="overlay"></span>
                                            <div class="card-image">
                                                <img src="../img/testecasa.jpg" alt="" class="card-img">
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <h2 class="name">Card Title</h2>
                                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
                                            <button class="button">Veja mais</button>
                                        </div>
                            </div>
                            <div class="card swiper-slide">
                                        <div class="image-content">
                                            <span class="overlay"></span>
                                            <div class="card-image">
                                                <img src="../img/3ad8907b-0af4-4ac3-8001-c812f5a9e111.webp" alt="" class="card-img">
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <h2 class="name">Card Title</h2>
                                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
                                            <button class="button">Veja mais</button>
                                        </div>
                            </div>
                            <div class="card swiper-slide">
                                        <div class="image-content">
                                            <span class="overlay"></span>
                                            <div class="card-image">
                                                <img src="../img/images.jfif" alt="" class="card-img">
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <h2 class="name">Card Title</h2>
                                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
                                            <button class="button">Veja mais</button>
                                        </div>
                            </div>
                            <div class="card swiper-slide">
                                        <div class="image-content">
                                            <span class="overlay"></span>
                                            <div class="card-image">
                                                <img src="../img/images (3).jfif" alt="" class="card-img">
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <h2 class="name">Card Title</h2>
                                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
                                            <button class="button">Veja mais</button>
                                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next swiper-navBtn"></div>
                    <div class="swiper-button-prev swiper-navBtn"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <footer>
            <div id="footer_content">
                <div id="footer_contacts">
                <h1><img src="../img/completo.png" alt=""></h1>
                    <p>Redes Sociais:</p>

                    <div id="footer_social_midia">
                        <a href="https://www.instagram.com/lsilvaimb/" target="_blank" class="footer-link" id="instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a>

                        <a href="https://www.facebook.com/profile.php?id=100012613808718" target="_blank" class="footer-link" id="facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>

                        <a href="https://api.whatsapp.com/send?phone=5511972998439&text=Ol%C3%A1%2C+gostaria+de+mais+informa%C3%A7%C3%B5es" target="_blank" class="footer-link" id="whatsapp">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </div>
                </div>

                <ul class="footer-list">
                    <li>
                        <h3>Quem Somos</h3>
                    </li>
                    <li>
                        <a href="" class="footer-link">Sobre nós</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Política de Privacidade</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Termos de uso</a>
                    </li>
                </ul>

                <ul class="footer-list">
                    <li>
                        <h3>Contato</h3>
                    </li>
                    <li>
                        <a href="https://mail.google.com/mail/?view=cm&to=contato.lsilva@gmail.com" target="_blank" class="footer-link">contato@lsilva.com.br</a>
                    </li>
                    <li>
                        <a class="footer-link" name="tel" style="color: #dddddd;">(11) 4719-6462</a>
                    </li>
                    <li>
                        <a class="footer-link" name="tel" style="color: #dddddd;">(11) 4719-6469</a>
                    </li>
                    <li>
                        <a class="footer-link" name="tel" style="color: #dddddd;">(11) 97299-8439</a>
                    </li>
                </ul>

                <div id="footer_endereco">
                    <ul class="footer-list">
                        <li>
                            <h3>Endereço</h3>
                        </li>
                        <li>
                            <a class="footer-link" style="color: #dddddd;">Avenida Tiradentes, 441</a>
                        </li>
                        <li>
                            <a class="footer-link" style="color: #dddddd;">Centro - São-Roque - SP</a>
                        </li>
                        <li>
                            <a class="footer-link" style="color: #dddddd;">CEP - 18130-470</a>
                        </li>
                        <li>
                            <a class="footer-link" style="color: #dddddd;">CRECI - 25717-J</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="footer_copyright">
                LSilva
                &#169
                2023 - Todos os direitos reservados.
            </div>
        </footer>


        <!-- Js Search -->
        <script src="../javascript/search.js"></script>

        <!-- Swiper JS -->
        <script src="../javascript/swiper-bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

        <!-- Teste -->
        <script>
            var swiper = new Swiper(".mySwiper", {
                pagination: {
                    el: ".swiper-pagination",
                    dynamicBullets: true,
                },
            });
        </script>

        <!--Slider JS-->
        <script src="../javascript/slider.js"></script>

        <!-- Navbar -->
        <script src="../javascript/inicio.js"></script>

    </body>
</html>