<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/css_pages/style_login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" charset="UTF-8"> </script>
    <title>LSilva - Login</title>
</head>
<body>
        <!--<div class="login">
            <div class="logo">
                <img src="img/LOGOTIPO LSIVA-1.png" alt="">
            </div>

            <form action="">
                <input id="inp-text" type="text" name="nome" placeholder="Nome do usuário">
                <input id="inp-text" type="password" name="senha" placeholder="Insira a senha">
                <input id="btn" type="submit" value="ENTRAR">
            </form>
        </div>-->

        <div class="container">
            <div class="form-image">
                <img src="../css/css_pages/css_imgs/undraw_working_remotely_re_6b3a (1).svg" alt="">
            </div>
            <div class="form">
                <form action="">
                    <div class="form-header">
                        <div class="title">
                            <h1>Entrar</h1>
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="input-box">
                            <label for="usuario">Usuário</label>
                            <input type="text" id="usuario" name="usuario" placeholder="Digite o usuário" required>
                        </div>

                        <div class="input-box">
                            <label for="password">Senha</label>
                            <input type="text" id="password" name="password" placeholder="Digite a senha" required>
                        </div>
                    </div>

                    <div class="envie-button">
                        <button><a href="#">Enviar</a></button>
                    </div>
                </form>
            </div>
       </div>
</body>
</html>