<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../css/css_pages/style_cadastreimovel.css">
    <link rel="stylesheet" href="../../css/css_assets/style_navbar.css">
    <link rel="stylesheet" href="../../css/css_assets/style_footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" charset="UTF-8"> </script>
    <title> LSilva negócios imobiliários </title>
</head>

<body>

    <header>
        <div class="logo">
            <a href="home.html"><img src="../../img/completo.png" alt="Logo Lsilva"></a>
        </div>


        <div class="navigation">
            <ul class="menu">
                <div class="close-btn"></div>
                <li class="menu-item"><a href="../../views/home.html">Início</a></li>

                <li class="menu-item"><a href="#" id="user-info"></a></li>

                <li class="menu-item">
                    <a class="sub-btn" href="login.html"><i class="fa-solid fa-user-large"></i></a>
                </li>

        </div>
        </ul>
        </div>
        <div class="menu-btn"></div>
    </header>

    <main>
        <section>

            <section>
                <div class="container">
                    <div class="form">
                        <form action="" id="form-data">
                            <div class="form-header">
                                <div class="title">
                                    <h1>Cadastrar nova Propriedade</h1>
                                </div>
                            </div>
                            <div class="alert alert-success" role="alert"> 
                                
                            </div>
                            <div class="alert alert-danger" role="alert">
                            </div>
                            <div class="input-group">
                                <div class="input-box">
                                    <label for="title">Titulo da Propriedade</label>
                                    <input type="text" id="title" name="title" placeholder="Digite o titulo da propriedade" required>
                                </div>

                                <div class="input-box">
                                    <label for="address">Endereço</label>
                                    <input type="text" id="address" name="address" placeholder="Digite a Cidade, Bairro, Rua e etc" required>
                                </div>
                                
                                <div class="input-box">
                                    <label for="tipoimovel">Tipo de negociação</label>
                                    <select name="tipoimovel" id="tipo-negociacao">
                                        <option>Selecione</option>
                                        <option value="Venda">Venda</option>
                                        <option value="Locação">Locação</option>
                                        <option value="Ambos">Ambos</option>
                                    </select>
                                </div>
                            
                               
                                <div class="input-box">
                                    <label for="Tipo d Propriedade">Tipo de Propriedade</label>
                                    <select name="propertyType" id="propertytype">
                                        <option>Selecione</option>
                                    </select>
                                </div>

                                <div class="input-box">
                                    <label for="city">Cidade</label>
                                    <select name="city" id="cidade">
                                        <option>Selecione</option>
                                    </select>
                                </div>
                                
                                <div class="input-box">
                                    <label for="neighborhood">Bairro</label>
                                    <input type="text" id="neighborhood" name="neighborhood" placeholder="Digite o bairro" required>
                                </div>
                                
                                <div class="input-box">
                                    <label for="value">Valor do Imóvel</label>
                                    <input type="number" id="value" name="value" placeholder="Digite o valor do imóvel" required>
                                </div>

                                <div class="input-box">
                                    <label for="nbedrooms">Número de quartos</label>
                                    <input type="number" id="nbedrooms" name="nbedrooms" placeholder="Digite o número de quartos" required>
                                </div>

                                <div class="input-box">
                                    <label for="buildm2">Metragem construída</label>
                                    <input type="number" id="buildm2" name="buildm2" placeholder="Digite o m2 de área construída" required>
                                </div>

                                <div class="input-box">
                                    <label for="groundm2">Área total</label>
                                    <input type="number" id="groundm2" name="groundm2" placeholder="Digite o m2 de área total" required>
                                </div>

                                <div class="input-box">
                                    <label for="nsuites">Suítes</label>
                                    <input type="number" id="nsuites" name="nsuites" placeholder="Digite o número de suítes" required>
                                </div>

                                <div class="input-box">
                                    <label for="nvacancies">Vagas de carro</label>
                                    <input type="number" id="nvacancies" name="nvacancies" placeholder="Digite o número de vagas disponíveis" required>
                                </div>

                                <div class="input-box">
                                    <label for="nbathrooms">Banheiros</label>
                                    <input type="number" id="nbathrooms" name="nbathrooms" placeholder="Digite o número de banheiros" required>
                                </div>

                                <div class="input-box">
                                    <label for="register">Registro da Propriedade</label>
                                    <input type="number" id="register" name="register" placeholder="Digite o número de registro" required>
                                </div>

                                <div class="input-box">
                                    <label for="broker">Corretor</label>
                                    <select name="broker" id="broker">
                                        <option>Selecione</option>
                                    </select>
                                </div>

                                <div class="input-box">
                                    <label for="owner">Proprietário</label>
                                    <input type="text" id="owner" name="owner" placeholder="Digite o nome do Proprietário" required>
                                </div>

                                <div class="input-box">
                                    <label for="ownerPhone">Telefone Proprietário</label>
                                    <input type="phone" id="ownerPhone" name="ownerPhone" placeholder="Digite o Telefone do Proprietário" required>
                                </div>

                                <div class="input-box info-add">
                                    <label for="description">Descrição do imóvel</label>
                                    <textarea id="description" name="description" placeholder="Digite uma Descrição chamativa" required rows="3"></textarea>
                                </div>
                            </div>
                        
                            <!--Uploud teste -->

                            <div class='wrapper'>
                                <div class="upload">
                                    <div class="upload-wrapper">
                                        <div class="upload-img">
                                            <!-- image here -->
                                        </div>
                                        <div class="upload-info">
                                            <p>
                                                <span class="upload-info-value">0</span> arquivos(s) selecionados.
                                            </p>
                                        </div>
                                        <div class="upload-area">
                                            <div class="upload-area-img">
                                                <img src="../img/upload.png" alt="">
                                            </div>
                                            <p class="upload-area-text">Selecionar imagens ou <span>procurar</span>.</p>
                                        </div>
                                        <input type="file" class="visually-hidden" id="upload-input" multiple>
                                    </div>
                                </div>
                            </div>

                            <!--
                                    <div class="gender-group">
                                        <div class="gender-input">
                                            <input type="radio" id="proprietario" name="gender">
                                             <label for="proprietario">Proprietário</label>
                                        </div>-->

                            <div class="envie-button">
                                <button type="button" id="enviarBtn" onclick="enviarDados()">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

    </main>


    <footer>
        <div id="footer_content">
            <div id="footer_contacts">
                <h1><img src="../../img/completo.png" alt=""></h1>
                <p>Redes Sociais:</p>

                <div id="footer_social_midia">
                    <a href="https://www.instagram.com/lsilvaimb/" target="_blank" class="footer-link" id="instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="https://www.facebook.com/profile.php?id=100012613808718" target="_blank" class="footer-link" id="facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>

                    <a href="https://api.whatsapp.com/send?phone=5511972998439&text=Ol%C3%A1%2C+gostaria+de+mais+informa%C3%A7%C3%B5es" target="_blank" class="footer-link" id="whatsapp">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>
            </div>

            <ul class="footer-list">
                <li>
                    <h3>Quem Somos</h3>
                </li>
                <li>
                    <a href="" class="footer-link">Sobre nós</a>
                </li>
                <li>
                    <a href="" class="footer-link">Política de Privacidade</a>
                </li>
                <li>
                    <a href="" class="footer-link">Termos de uso</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <h3>Contato</h3>
                </li>
                <li>
                    <a href="https://mail.google.com/mail/?view=cm&to=contato.lsilva@gmail.com" target="_blank" class="footer-link">contato@lsilva.com.br</a>
                </li>
                <li>
                    <a class="footer-link" name="tel" style="color: #dddddd;">(11) 4719-6462</a>
                </li>
                <li>
                    <a class="footer-link" name="tel" style="color: #dddddd;">(11) 4719-6469</a>
                </li>
            </ul>

            <div id="footer_endereco">
                <ul class="footer-list">
                    <li>
                        <h3>Endereço</h3>
                    </li>
                    <li>
                        <a class="footer-link" style="color: #dddddd;">Avenida Tiradentes, 441</a>
                    </li>
                    <li>
                        <a class="footer-link" style="color: #dddddd;">Centro - São-Roque - SP</a>
                    </li>
                    <li>
                        <a class="footer-link" style="color: #dddddd;">CEP - 18130-470</a>
                    </li>
                    <li>
                        <a class="footer-link" style="color: #dddddd;">CRECI - 25717-J</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="footer_copyright">
            LSilva
            &#169
            2023 - Todos os direitos reservados.
        </div>
    </footer>

    <script src="../../javascript/upload.js"></script>

    <script>
    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('form-data').addEventListener('submit', function(event) {
        event.preventDefault();
        enviarDados();
        });
    });

    async function carregarCidades() {
    try {
        const response = await fetch('http://localhost:5502/city/');
        const data = await response.json();

        if (response.ok) {
            const cidades = data.cities;
            const selectElement = document.getElementById('cidade');
          
            selectElement.innerHTML = '';

            const defaultOption = document.createElement('option');
            defaultOption.value = '';
            defaultOption.text = 'Selecione';
            selectElement.appendChild(defaultOption);

            
            cidades.forEach((city) => {
                const option = document.createElement('option');
                option.text = city.name;
                option.value = city.id;
                selectElement.appendChild(option);
            });

            console.log('Cidades carregadas com sucesso!');
        } else {
            console.log('Erro ao obter cidades:', response.statusText);
        }
    } catch (error) {
        console.log('Erro na requisição:', error);
    }
}


async function carregarTipoPropriedade() {
    try {
        const response = await fetch('http://localhost:5502/propertytype/');
        const data = await response.json();

        if (response.ok) {
            const tipo = data.propertyTypes;
            const selectElement = document.getElementById('propertytype');
            
            selectElement.innerHTML = '';

            const defaultOption = document.createElement('option');
            defaultOption.value = '';
            defaultOption.text = 'Selecione';
            selectElement.appendChild(defaultOption);

            
            tipo.forEach((propertytype) => {
                const option = document.createElement('option');
                option.text = propertytype.name;
                option.value = propertytype.id;
                selectElement.appendChild(option);
            });

            console.log('Tipo carregados com sucesso!');
        } else {
            console.log('Erro ao obter tipo:', response.statusText);
        }
    } catch (error) {
        console.log('Erro na requisição:', error);
    }
}




async function carregarCorretores() {
    try {
        const response = await fetch('http://localhost:5502/broker/');
        const data = await response.json();

        if (response.ok) {
            const brokers = data.brokers;
            const selectElement = document.getElementById('broker');
            
            selectElement.innerHTML = '';

            const defaultOption = document.createElement('option');
            defaultOption.value = '';
            defaultOption.text = 'Selecione';
            selectElement.appendChild(defaultOption);

            
            brokers.forEach((broker) => {
                const option = document.createElement('option');
                option.value = broker.id; 
                option.text = broker.name;
                selectElement.appendChild(option);
            });

            console.log('Corretores carregados com sucesso!');
        } else {
            console.error('Erro ao obter corretores:', response.statusText);
        }
    } catch (error) {
        console.error('Erro na requisição:', error);
    }
}

document.addEventListener('DOMContentLoaded', () => {
    carregarCorretores();
    carregarCidades();
    carregarTipoPropriedade();
});




  async function enviarDados() {
    try {
        const title = document.getElementById('title').value;
        const address = document.getElementById('address').value;
        const value = document.getElementById('value').value;
        const tipoimovel = document.getElementById('propertytype').value;
        const bairro = document.getElementById('neighborhood').value;
        const banheiros = document.getElementById('nbathrooms').value;
        const vagas = document.getElementById('nvacancies').value;
        const registro = document.getElementById('register').value;
        const suites = document.getElementById('nsuites').value;
        const area = document.getElementById('groundm2').value;
        const construido = document.getElementById('buildm2').value;
        const quartos = document.getElementById('nbedrooms').value;
        const city = document.getElementById('cidade').value;
        const corretor = document.getElementById('broker').value;
        const tipoNegociacao = document.getElementById('tipo-negociacao').value;
        const owner = document.getElementById('owner').value;
        const ownerPhone = document.getElementById('ownerPhone').value;
        const infoadd = document.getElementById('description').value;
        const files = document.getElementById('upload-input').files;

        const formData = new FormData();
        formData.append('title', title);
        formData.append('address', address);
        formData.append('value', value);
        formData.append('propertyTypeId', tipoimovel);
        formData.append('cityId', city);
        formData.append('typeofsale', tipoNegociacao);
        formData.append('description', infoadd);
        formData.append('brokerId',corretor);
        formData.append('neighborhood', bairro);
        formData.append('nbedrooms', quartos);
        formData.append('buildm2', construido);
        formData.append('groundm2', area);
        formData.append('nsuites', suites);
        formData.append('nvacancies', vagas);
        formData.append('owner', owner);
        formData.append('ownerPhone', ownerPhone);
        formData.append('nbathrooms', banheiros);
        formData.append('register', registro);
        

        for (const file of files) {
            formData.append('images', file);
        }

        const response = await fetch('http://localhost:5502/properties/create', {
            method: 'POST',
            body: formData,
        });

        if (response.ok) {
            const responseData = await response.json();
            console.log(responseData);
        } else {
            const errorData = await response.json();
            console.error('Erro ao enviar dados:', response.status, errorData.message);
        }
    } catch (error) {
        console.error('Erro na requisição:', error);
    }
}


    </script>
</body>

</html>